<?xml version="1.0"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
		<authorization>
			<allow users="flagfootball,jrmidget,jrmightymite,jrpeeweeblue,eeweered,midget,mightymite,peewee"/>
			<deny users="*" />
		</authorization>
    </system.web>
</configuration>
